body {
  font-family: Calibri, sans-serif;
  margin: 0;
  background-color: #1E1E2E;
  color: #CDD6F4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0 20px;
}

.title {
  font-family: 'Jellee Roman', serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: #CDD6F4;
}

.widget {
  margin: 20px 0;
  background-color: #181825;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.leaderboard {
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #CDD6F4;
}

.place {
  display: block;
  transition: transform 0.3s ease;
  margin: 5px 0;
}

.place:hover {
  transform: scale(1.1);
}

.counter-widget {
  text-align: center;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter-label {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #CDD6F4;
}

.counter {
  display: flex;
  font-size: 48px;
  font-weight: bold;
  justify-content: center;
  color: #CDD6F4;
}

.leaderboard {
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 360px;
  color: #CDD6F4;
}

.place {
  display: block;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.place:hover {
  transform: scale(1.1);
}

.countdown {
  font-size: 32px;
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  color: #CDD6F4;
  width: 100%;
  text-align: center;
}

.login-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #11111b;
  color: #CDD6F4;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #181825;
}

.footer {
  background-color: #181825;
  color: #CDD6F4;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14px;
}

.footer p {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}