body {
  font-family: Calibri, sans-serif;
  margin: 0;
  background-color: #1E1E2E;
  color: #CDD6F4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.title {
  font-family: 'Jellee Roman', serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: #CDD6F4;
}

.widget-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 20px;
  width: 100%;
}

.leaderboard {
  grid-column: 1 / -1;
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #181825;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 255, 255, 0.5), rgba(30, 102, 245, 0.5), rgba(64, 160, 43, 0.5), rgba(223, 142, 29, 0.5);
}

.place {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}

.place-digit {
  font-family: 'Jellee Roman', serif;
  font-size: 24px;
  margin-right: 10px;
  min-width: 40px;
}

.counter-widget {
  background-color: #181825;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-label {
  font-family: 'Jellee Roman', serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #CDD6F4;
}

.counter {
  display: flex;
  font-size: 48px;
  font-weight: bold;
  justify-content: center;
}

.countdown {
  font-size: 24px;
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  color: #CDD6F4;
  width: 100%;
}

.login-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #11111b;
  color: #CDD6F4;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.login-btn:hover {
  background-color: #181825;
}

.digit {
  margin: 0 3px;
  padding: 6px 8px;
  border-radius: 15px;
  color: #CDD6F4;
  transition: transform 0.3s ease;
  border: 5px solid #11111B;
}

.digit:hover {
  transform: scale(1.2);
}

.baldwin-background { background-color: #d20f39; }
.sotomayor-background { background-color: #1e66f5; }
.mandela-background { background-color: #40a02b; }
.truth-background { background-color: #df8e1d; }

.baldwin-box { box-shadow: 0 0 15px 5px rgba(210, 15, 57, 0.7); }
.sotomayor-box { box-shadow: 0 0 15px 5px rgba(30, 102, 245, 0.7); }
.mandela-box { box-shadow: 0 0 15px 5px rgba(64, 160, 43, 0.7); }
.truth-box { box-shadow: 0 0 15px 5px rgba(223, 142, 29, 0.7); }

@media (max-width: 768px) {
  .widget-container {
    grid-template-columns: 1fr;
  }

  .login-btn {
    position: static;
    margin-bottom: 20px;
    align-self: flex-end;
  }
}

.font-jellee {
  font-family: 'Jellee Roman', serif;
}

.chart-container {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 600px;
}